*.pem
*.pyc
*.swp
.DS_Store
/*.sql
/.cache
/.idea
/.vagrant
/apt-cache
/app/static/uploads
/client/bower_components
/client/build
/client/install.sh
/client/node_modules
/config/db.json
/config/main.py
/config/uwsgi.ini
/dumps
/logs
/scripts
messages.mo
messages.pot
run.py
worker.py
alembic.ini