{% extends "web/layout/web.html" %}
{% block content %}
    <script>
        function checkChrome() {
            document.location = "baggable://changepassword?token={{ token }}";
            var time = (new Date()).getTime();
            setTimeout(function () {
                var now = (new Date()).getTime();
                if ((now - time) < 400) {
                    document.location = "/resetPassword?token={{ token }}";
                    /*if (confirm('Missing Chrome. Download it now?')) {
                        document.location = 'http://itunes.apple.com/us/app/chrome/id535886823?mt=8';
                    } else {
                        document.location = h.replace('googlechrome', 'http');
                    }*/
                }
            }, 300);
        }

        checkChrome();
    </script>
{% endblock %}